.container-fluid.footer
    .container
        .row
            .col.col-xs-12.col-sm-12.col-md-3.col-lg-3
                .footer__block.fblock
                    .fblock__title Customer Service
                    .fblock__content
                        -
                            list = [
                            ["Track Order", "#"],
                            ["Shipping Policy", "#"],
                            ["No-Hassle Return Policy", "#"],
                            ["FAQ", "#"],
                            ["Company Info", "#"],
                            ["Customer Testimonials", "#"],
                            ["Privacy Policy", "#"],
                            ["Site Map", "#"]
                            ]
                        ul.fblock__list    
                            each val in list
                                li.fblock__item
                                    a.fblok__link(href=val[1])= val[0]

            .col.col-xs-12.col-sm-12.col-md-6.col-lg-6
                .footer__block.fblock
                    .fblock__title Shop Costgro
                    .row 
                        .col.col-xs-12.col-sm-12.col-md-6.col-lg-6
                            .fblock__content
                                -
                                    list = [
                                    ["Air / HVAC", "#"],
                                    ["Controllers. Timers"],
                                    ["& Meters", "#"],
                                    ["Grow Media", "#"],
                                    ["Grow System", "#"],
                                    ["Grow Tents", "#"],
                                    ["Lighting", "#"],
                                    ["Nutrients", "#"],
                                    ["Pest & Disease Control", "#"]
                                    ]
                                ul.fblock__list    
                                    each val in list
                                        li.fblock__item
                                            a.fblok__link(href=val[1])= val[0]
                        .col.col-xs-12.col-sm-12.col-md-6.col-lg-6
                            .fblock__content
                                -
                                    list = [
                                    ["pH / TDS Solutions", "#"],
                                    ["& Meters", "#"],
                                    ["Pots & Containers", "#"],
                                    ["Propagation", "#"],
                                    ["Tools & Accessories", "#"],
                                    ["Grow Trays, Reservoirs", "#"],
                                    ["& Stands", "#"],
                                    ["Water", "#"],
                                    ]
                                ul.fblock__list    
                                    each val in list
                                        li.fblock__item
                                            a.fblok__link(href=val[1])= val[0]    

            .col.col-xs-12.col-sm-12.col-md-3.col-lg-3
                .footer__block.fblock
                    .fblock__title Follow Costgro
                    .fblock__content
                        -
                            list = [
                            ["facebook", "#"],
                            ["pinterest", "#"],
                            ["instagram", "#"],
                            ["twitter", "#"],
                            ]
                        ul.fblock__list    
                            each val in list
                                li.fblock__item
                                    a.fblok__link(href=val[1])
                                        i(class="fa" class="fa-"+[val[0]])
                                        = val[0]          
                .footer__block.fblock
                    .fblock__title Search Costgro
                    .fblock__content
                        .fblock__search
                            form.form-horizontal.search(role="search")
                                input.form-control.search__input(type="text" placeholder="Start Search...")
                                i.fa.fa-search(aria-hidden="true")