.container-fluid.main
        .container.main__content
            .row
                .col.col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .main-img__wrapper
                        img.main-img__img.img-responsive(src="assets/img/main.png" alt="main")  
                        .main__inner
                            .main__title Latest Blog Post
                            .main__desq
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. |Ad consequatur optio iste repellendus, ullam deserunt |ignissimos cumque doloremque molestiae autem! Molestiae non |modi, dolorem . 
                            button.main__button.btn.btn-primary.btn-lg.btn-block.btn-warning(type="button") Main Button
                        


 